<% content_for(:feed) do %>
  <div class="tabs is-large">
    <ul>
      <li class="is-active"><%= link_to 'Stream', root_path %></li>
      <li><%= link_to 'Bookmarks', bookmarks_path %></li>
    </ul>
  </div>

  <div class="stream">
    <p>Latest posts from people you are following</p>

    <div class="stories-stream">
      <%= render partial: 'stories/story', collection: @feed %>
    </div>
  </div>
<% end %>
